.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  text-align: center;
  overflow: hidden;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(20px, 64px, 1440px, 1440px);
  margin-top: 32px;
}
