.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 20;
  background: var(--white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
  transition: box-shadow 0.6s;

  &.fix {
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  }
}

.header__content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 27px;
  gap: myclamp(20px, 48px, 1440px, 1440px);
}

.header__logo {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.logo {
  display: block;
  padding: 11.14px 20px;
  background: var(--color);
  position: relative;
  width: 150px;
  height: auto;
  z-index: 3;
  img {
    width: 100%;
    height: auto;
  }
}

.socials {
  display: flex;
  gap: 16px;
  li {
    display: block;
    width: 30px;
    height: 30px;
    img {
      max-width: 100%;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex: 1;
}

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: myclamp(20px, 32px, 1440px, 1440px);
  @media (max-width: 1365px) {
    gap: myclamp(20px, 40px, 1440px, 1440px);
  }

  li {
    .menu__link {
      font-family: var(--900);
      font-size: 21px;
      line-height: 1.2;
      text-transform: uppercase;
      &.active {
        color: var(--red);
      }
    }
  }
}

@media (max-width: 1239px) {
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 40px;
    font-size: 0px;
    z-index: 2;
    span,
    &:before,
    &:after {
      position: absolute;
      height: 2px;
      background: var(--color);
      transition: 0.6s;
      opacity: 1;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
      width: 22px;
    }

    span {
      width: 16px;
      transform: translate(0px, 0px);
    }
    &:before {
      transform: translate(0px, -7px) rotate(0deg);
    }
    &:after {
      transform: translate(0px, 7px) rotate(0deg);
    }

    &.open {
      span {
        transform: translate(10px, 0px);
        opacity: 0;
      }
      &:before {
        background: var(--white);
        transform: translate(0px, 0px) rotate(45deg);
      }
      &:after {
        background: var(--white);
        transform: translate(0px, 0px) rotate(-45deg);
      }
    }
  }

  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
    top: 0px;
    right: 0px;
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    z-index: 0;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      display: none;
    }
    &.open {
      transform: translate(0%, -0%);
    }
  }

  .menu {
    padding: 100px 20px 120px 20px;
    width: 100%;
    min-height: 100vh;
    background: var(--color);
    color: var(--white);
    background-size: 100% 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    li {
      .button {
        padding: 10px 24px;
        span {
          font-size: 32px;
        }
      }
      &:last-child {
        display: block;
      }

      .menu__link {
        font-size: 32px;
      }
    }
  }
}
