.main {
  display: block;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0px 27px;
  margin: 0 auto;
}

.section {
  position: relative;
  text-align: center;
}
