.section--page {
  padding-top: 140px;
  padding-bottom: 60px;

  .recipes {
    margin-top: 30px;
  }
}

.distributors {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.distributors__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  width: 100%;
  gap: 10px 10px;
  margin-top: 20px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 72px;
    gap: 20px;
    border: 1px solid #e8e9ef;
    padding: 20px 24px;
    border-radius: 16px;
    p {
      display: block;
      width: 25%;
      font-size: 18px;
      line-height: 1;
      letter-spacing: -0.36px;
      hyphens: auto;
      span {
        display: block;
        font-family: var(--600);
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: -0.2px;
        margin-bottom: 5px;
      }

      &:nth-child(1) {
        max-width: 200px;
        b {
          word-break: break-word;
          hyphens: auto;
        }
      }
      &:nth-child(3) {
        max-width: 160px;
      }
      &:nth-child(4) {
        word-break: break-word;
      }
    }
  }
}

.label--region {
  max-width: 360px;
}

.catalog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 30px;
  li {
    flex: 1;
    min-width: 260px;
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(13) {
      min-width: 555px;
    }
  }
}
