.text-content {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  font-size: 62px;
  line-height: 1;
  letter-spacing: -1.24px;
  text-transform: uppercase;
}

.subtitle {
  display: block;
  font-size: myclamp(14px, 16px, 1440px, 1440px);
  line-height: 1.4;
}
