:root {
  --900: 'roadradio-black', sans-serif;
  --500: 'montserrat-medium', sans-serif;
  --600: 'montserrat-semibold', sans-serif;

  --bg: #ffffff;
  --color: #1a2663;
  --blue: #7d86b2;
  --white: #ffffff;
  --black: #000000;
  --grey: #d5d5d5;
  --grey-dark: #adadad;
  --red: #b7142b;

  // Inputs
  --input-font-family: var(--900);
  --input-font-size: 22px;
  --input-background: #ffffff;
  --input-border: #cccccc;
  --input-color: #000000;
  --input-placeholder-color: rgba(0, 0, 0, 0.2);
  --invalid: #b7142b;
}

@import 'mixins';
@import 'fonts';
@import 'animations';
@import 'preloader';
@import 'reset';
@import 'main';
@import 'header';
@import 'buttons';
@import 'typography';
@import 'forms';
@import 'footer';
@import 'popup';
@import 'section__hero';
